@font-face {
  font-family: 'HelveticaCond';
  src: url('fonts/Helvetica_LT_Std/HelveticaLTStd-Cond.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('fonts/Helvetica_LT_Std/HelveticaLTStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaCondObl';
  src: url('fonts/Helvetica_LT_Std/HelveticaLTStd-CondObl.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaBoldCondObl';
  src: url('fonts/Helvetica_LT_Std/HelveticaLTStd-BoldCondObl.otf') format('opentype');
}

html, body {
    height: 100%;
}

body { 
    background-image: url('img/tirefinder_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 320px;
    width: 100%;
    text-align: center;
    font-family: "HelveticaCond";
    font-size: 12px;    
}

html body .wrapper { 
    max-width: 64em; 
    margin: 0 auto; 
    background: transparent; 
    margin: 0 auto; 
    min-width: 320px; 
    padding: 0px; 
}

html body .wrapper::after { 
    clear: both; 
    content: ""; 
    display: block; 
}

header {
    text-align: left;
    padding: 20px;
}

h2 {
    font-family: "HelveticaBoldCondObl";
    font-size: 32px;
    letter-spacing: 50;
    text-transform: uppercase;
    color: #80298f;
    white-space: nowrap;
}

h2 span {
    margin-left: 20px;
    font-size: 32px;
}

form h3, form h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: #80298f;
}

hr {
    border-top: 1px solid #999;  /* Bootstrap override */
}

.wrapper {
    height: 100%;
}

ul { list-style: none; }

li {
    float: left;
}

ul, li {
    margin:0; 
}    

form {
    float:left;
    text-align: left;
}

form div.row {
    max-width: 400px;
}

form .btn {
    color: #fff;
    background: #80298f;
    text-transform: uppercase;
}

form .btn:hover {
    color: #fff;
    background: #333;
}

.form-control {
    font-size: 12px;
} 

form label {
    position: relative;
}

.title {
    font-family: "HelveticaBoldCondObl";
    font-size: 24px;
    letter-spacing: 0;
    color: #80298f;
}

.btn {
    background-color: #80298f;
    color: #fff;
    padding: 6px 10px;  /* Bootstrap override */
    border-radius: 0;
    text-transform: uppercase;
}

.btn:hover, .btn:active {
    color:#fff; 
}

#results {
    float: left;
    text-align: left;
}

#results h6 {
    position: absolute;
}

select {
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: HelveticaCondObl; 
    margin: 5px 0px;
    padding: 0px 15px;
    line-height: 1.75;
    background-color: #ffffff;
    background-image: none;
    color: #555;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
    float:left;
    text-transform: uppercase;
    min-width: 260px;    
    width: 100%;     
}

#results h4, #results button {
    margin-left: 5px;
    min-width: 200px;
}

#results button {min-width:200px;}

#results h2, #results h3 {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
/*    margin: 10px 0; */
}
    
#results span {
    height: 40px;
    line-height: 40px;    
}

#results a span {
    position: absolute;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    padding: 15px;
    max-width: 250px;
}

#results .desc {
    padding-bottom: 40px;
}


.list div {
    float: left;
}

.btn-wrapper {
    position: relative;
    height: 100%;
    top: 20px;
}

.sep {
    margin-top: 20px;
    text-align: center;    
    padding: 10px 0;
    font-weight: bold;
}

.thumb {
    display: inline-block;
    padding: 0;
    margin: 0 10px 10px 0;
}

.sbs-result .thumb {
    margin: 0 0 10px 0;
}

.thumb h4 {
    position: absolute;
}

.close {
    background-image: url(img/close.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: auto;
    position: absolute;
    right: 50px;
    font: 32px "Consolas", monospace;  
    color: #80298f;
    top: 0;
    z-index: 99;
}

.btn-choose {
    padding: 6px 40px;
}

.results {
    margin-top: 20px;
}

.tname {
    font-size: 18px;
    font-weight: 600;
    color: #80298f;
    font-style: italic;
    top: 0px;
}

.tdesc {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    font-style: normal;   
    top: 22px;
}

.thumb span {
    display: block;
}

.purple {
    color: #80298f;
}

#results h3 {
    padding: 0;
    margin: 0;
}

h3 .label {
    text-transform: none;
    font-size: 14px;
    color: #333333;
    padding: 0;
}

.menu {
    padding-top:30px;
}

h2, h4 {
    padding: 0;
}

#results ul {
    display: inline;
}

.sbs-result {
    margin-left: 10px;
}

.sbs-result h3 {
    margin: 5px 0 30px 0;
}

.sbv-result h3 {
    margin: 10px 0;
}

#results h3.last {
    margin: -10px 0 20px;
}

.sbs-result h3 span {
    text-transform: none;
    font-size: 14px;
    color: #333333;
    padding: 0; 
}

.sbs-result .thumbs { 
    display: inline-block;
    padding: 30px 0 0;
}

button .btn-choose {
    background-color: #80298f;
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}

header .icon {
    display: inline-block;
    height: 25px;
    width: 30px;
    margin-left: 15px;    
    background-image: url('img/search_icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

span.icon-menu-down {
    display: inline-block;
    position: absolute;
    background-image: url('img/arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 13px;
    height: 7px;
    top: 18px;  
    right: 18px;
}

.last span.icon {
    right: -26px;
}

a.search {
    float: right;
    clear: both;
    margin-left: 0px;
    height: 35px;
    width: 35px;
    margin-top: 4px;   
    background-image: url('img/search_wt.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: all linear .2s;
}

a.search:hover, a.search:active {
    background-image: url('img/search_wt.png');
}

.form-group div {
    max-width: 100%;
}

@media only screen and (min-width:767px) {
    .sep {
        margin-top: 0px;
        text-align: left;
    }

    select {
        min-width: auto !important;
    }
    
    .form-group div {
        max-width: 170px;
    }    
}

@media only screen and (min-width:479px) {
    
    a.search {
        float: left;
        clear: none;
    }
    span.icon-menu-down {
        right: 45px;
    }
    .last span.icon {
        right: 45px;
    }    
    
}
